<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bệnh nhân - Phòng Khám{% endblock %}</title>
    <link rel="icon" href="https://res.cloudinary.com/dkag1bixy/image/upload/v1753424622/logo_ls6q9y.jpg"
      type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-success mb-4">
  <div class="container-fluid">
    <img src="https://res.cloudinary.com/dkag1bixy/image/upload/v1753424622/logo_ls6q9y.jpg"
      style="width: 50px; border-radius: 99px; margin-right: 10px;" alt="">
    <a class="navbar-brand" href="/patient/profile">Bệnh nhân</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/patient/profile">Thông tin cá nhân</a></li>
        <li class="nav-item"><a class="nav-link" href="/patient/appointments">Lịch hẹn</a></li>
        <li class="nav-item"><a class="nav-link" href="/patient/examinations/history">Phiếu khám bệnh</a></li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/login" id="logout-link">Đăng xuất</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
<script>
  document.getElementById('logout-link').addEventListener('click', function (event) {
    // Xóa tất cả localStorage
    localStorage.clear();

    // Cho phép chuyển hướng (mặc định)
    // Nếu bạn cần xử lý thêm thì dùng event.preventDefault();
  });
</script>

</html> 